<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}">
<head>
  <meta charset="utf-8" />
  <title>Birt report generator</title>
  <meta name="application-name" content="{{=request.application}}" />

  <!-- include stylesheets -->
  {{
  response.files.append(URL('static','css/bootstrap.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/demo_table_jui.css'))
  response.files.append(URL('static','css/jquery-ui-1.8.4.custom.css'))
  response.files.append(URL('static','css/birtstyles.css'))
  }}

  <!-- include js files -->
  {{

  response.files.insert(1,URL('static','js/jquery.js'))
  response.files.insert(2,URL('static','js/web2py.js'))
  response.files.insert(3,URL('static','js/jquery.dataTables.min.js'))
  response.files.insert(4,URL('static','js/birtdatatable.js'))
  response.files.insert(5,URL('static','js/layout.js'))
  response.files.insert(6,URL('static','js/bootstrap.js'))
  response.files.insert(7,URL('static','js/bootstrap-datepicker.js'))
  response.files.insert(8,URL('static','js/jquery-ui-tabs.js'))
  response.include_meta()
  response.include_files()
  }}

</head>

<body>
    <div id="wrap">
            {{include 'menu.html'}}
            <div id="container">
                {{include}}
            </div>
            <div class="clear"></div>
            <div class="page-footer">
                <p>
                    Copyright 2012 Harman
                </p>
            </div>
    </div><!--end wrap-->
</body>
</html>

