<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}">
<head>
  <meta charset="utf-8" />
  <title>{{=response.title or request.application}}</title>
  <meta name="application-name" content="{{=request.application}}" />

  <!-- include stylesheets -->
  {{
  response.files.append(URL('static','css/bootstrap.min.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/web2py.css'))
  response.files.append(URL('static','css/web2py_bootstrap.css'))
  response.files.append(URL('static','css/demo_page.css'))
  response.files.append(URL('static','css/demo_table_jui.css'))
  response.files.append(URL('static','css/jquery-ui-1.8.4.custom.css'))
  response.files.append(URL('static','css/superfish.css'))
  response.files.append(URL('static','css/examples.css'))
  response.files.append(URL('static','css/birtstyles.css'))
  response.files.append(URL('static','css/datepicker.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}
</head>

<body>
  <!-- Navbar ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Birt report harman&trade;&nbsp;</a>
        <div class="nav-collapse">
          {{if response.menu:}}
          {{=MENU(response.menu, _class='nav' ,li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- {{=response.basket}} -->
    <!-- <button id="test">vasea</button> -->
    <!-- <button id="test2">vasea</button> -->
    <div class="dropdown">
    <h5 class="dropdown-menu2">SHORT LABEL PREVIEW<b class="caret"></b></h5>
    <ul id="label_dropdown_menu" class="dropdown-menu" >
    <li><div class="mydivider"></div></li>
    <li class="factrunnings"><h8>FACT Runnings</h8></li>
    <li id="nonefactrunnings" class="none"><h8>none</h8></li>
    <li><div id="vsrunningsdivider" class="mydivider"></div></li>
    <li id="vsrunnings" class="factrunnings"><h8>VS Runnings</h8></li>
    <li id="nonevsrunnings" class="none"><h8>none</h8></li>
    <li><div class="mydivider"></div></li>
    <li><button id="savelabel" data-toggle="modal" data-target="#myModal" style="margin-left:60px;" class="savelabel btn btn-primary">Save label</button></li>

    </ul>
    </div>

  </div><!--/top navbar -->

  <div class="container">

       <form method="POST" action="/web2py_birt/fact/saveLabel" class="modal hide fade" id="myModal">
             <div class="modal-header">
               <a class="close" data-dismiss="modal">×</a>
               <h3>Label creation page</h3>
             </div>
             <div class="modal-body">
                <table>
                  <tr>
                         <td><label>Label name: </label></td>
                         <td><input  style="width:230px" type="text" name="labelname" value="" /></td>
                         <td></td>
                  </tr>
               <!--    <tr>
                         <td><label>Data creation: </label></td>
                         <td><input type="text" class="span2"  data-date-format="mm/dd/yy" id="dp2" ></td>
                         <td></td>
                  </tr> -->
                  <tr>
                         <td><label>User name: </label></td>
                         <td><input style="width:230px" type="text" name="username" value=""/></td>
                         <td></td>
                  </tr>
                </table>
             </div>
             <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Save changes</button>
             </div>
        </form>

    <!-- Masthead ================================================== -->
    <header class="mastheader row" id="header">
        <div class="span12">

        </div>
    </header>

    <section id="main" class="main row">
        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>
    </section><!--/main-->

    <!-- Footer ================================================== -->
    <div class="row">
        <footer class="footer span12" id="footer">
            <div class="footer-content">
                {{block footer}} <!-- this is default footer -->
                <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
                {{end}}
            </div>
        </footer>
    </div>

  </div> <!-- /container -->

    <script>
    {{if session.vasea:}}
           var labellist = {{=XML(response.json(session.vasea))}}
           jQuery(function(){
          if (labellist.length){
          $.each(labellist, function(val, text) {
            $('#nonefactrunnings').remove()
            $('#vsrunningsdivider').before($('<li></li>').html(text));
          });
        }
      });
     {{pass}}

    // this code improves bootstrap menus and adds dropdown support
    jQuery(function(){
        

        jQuery('.dropdown').live('click',function () {
           jQuery(this).find('#label_dropdown_menu').fadeToggle("fast");
        });

        jQuery('#label_dropdown_menu').live('click',function () {
           event.stopPropagation();
        });

       
        jQuery('.icon-remove').live('click',function () {
          console.log($(this).closest('a'))
          testsuitename = $(this).closest('a')[0].outerHTML
          $(this).closest('li').remove()
             $.ajax({
              type: "POST",
              url: "/web2py_birt/fact/removeLabelFromSession",
              data: "testsuitename=" + testsuitename
              }).done(function( msg ) {
                 if (msg == 0){
                    $('#vsrunningsdivider').before($('<li id="nonefactrunnings" class="none"><h8>none</h8></li>'))
                 }
              });
             // if($("#vsrunnings").next().length==0){
             //   $('#vsrunnings').after($('<li id="nonevsrunnings" class="none"><h8>none</h8></li>'))
             // }
        });



        //add to label preview new item

        jQuery('#addtolabel').live('click',function () {
            jQuery('#label_dropdown_menu').fadeIn("fast");
            $('#nonefactrunnings').remove()
            var tempArray = Array()
            var aTrs = MyApp.oTable.fnGetNodes();

            for ( var i=0 ; i<aTrs.length ; i++ )
              {
                if ( $(aTrs[i]).hasClass('datatablerowhighlight') )
                {
                  var testsuiteId = MyApp.oTable.fnGetData(aTrs[i]).testsuite.id
                  var testsuiteName = '<a value="'+testsuiteId+'" href="#"><i class="icon-remove"></i>'+MyApp.oTable.fnGetData(aTrs[i]).testsuite.testsuitename+'</a>'
                  tempArray.push(testsuiteName)
                }
            }
            $.ajax({
              type: "POST",
              url: "/web2py_birt/fact/saveLabelList",
              data: "array="+JSON.stringify(tempArray)
              }).done(function( msg ) {
                var contact = JSON.parse(msg);
                $.each(contact, function(val, text) {
                  $('#vsrunningsdivider').before($('<li></li>').html(text));
                });
              });

            });



        jQuery('#test2').live('click',function () {
          $('#nonevsrunnings').remove()
          var myOptions = {
              val2 : '<a value="10" href="#"><i class="icon-remove"></i>Vs gagaga</a>'
          };
          $.each(myOptions, function(val, text) {
            $('#vsrunnings').after($('<li></li>').val(val).html(text));
          });

        });
  
        $('#dp2').datepicker('setValue', new Date())
      // make all buttons bootstrap buttons
      jQuery('button, form input[type="submit"], form input[type="button"]').addClass('btn').css({'margin-right':'2px','margin-bottom':'2px'});
    });
  </script>
</body>
</html>

