<script type="text/javascript">
function analysisBackClickHandler(){
 /*
 * Click handler for go back from analysis page
 */
     $('#analysisback').live('click',function () {
          history.back();
     })
}

function ShowNOKTestsForAnalysisDatatablesByDefault(testsuiteArray_size){
 /*
 * When we go to analysis page, show by default NOK tests
 */
     for(var i=0;i<testsuiteArray_size;i++){
       $('#collapseOne'+i+' #nok').click()
     }
}

function addClickHandlerForCollapseTables(testsuiteArray_size){
 /*
 * Click handler for analysis page collapse images (tables)
 */
       $('.collapse_button').find("img").click(function() {
       }).toggle(function() { 
           $(this).attr("src", "../static/images/close.png"); 
           $($(this).parent().attr("href")).collapse('show')
       }, function(){
           $(this).attr("src", "../static/images/more.png");
           $($(this).parent().attr("href")).collapse('hide')
     });
}

$(function(){
    $('.tip').tooltip();
    //get testsuites as json from backend
    var testsuiteArray = {{=XML(response.json(testsuiteArray))}}
    
    //prevent click on esc button on keyboard
    $(document).keypress(function(e) {
       if(e.keyCode == 27) {
         e.preventDefault();
       }
    });
    //init datatables 
    for(var i=0;i<testsuiteArray.length;i++){
      var testsuiteid = testsuiteArray[i].testsuite.id;
      var table = new AnalysisDataTable(i, testsuiteid);
      table.addSaveButtonAjaxHandler();
      table.addCommentColumnHandler("comment_img", 'comment_id', '<p>Add Comment</p><textarea id="comment_id" style="max-width : 97%; min-width:97%;min-height:200px; max-height:200px;">', 'analysis','comment')
      table.addCommentColumnHandler("error_img", 'error_desc_id', '<p>Error description</p><textarea id="error_desc_id" style="max-width : 97%; min-width:97%;min-height:200px; max-height:200px;" readonly>', 'testresult','failuredescription')
      table.addFiltering();
      table.addSwitchDataHandler()
      table.addAutoComplite();
    }
      analysisBackClickHandler();
      ShowNOKTestsForAnalysisDatatablesByDefault(testsuiteArray.length);
      addClickHandlerForCollapseTables();
 });
</script>

<div id="mainanalysis" class="table_container">
    {{for i in range(len(testsuiteArray)):}}
        <div class="collapse_container">
          <a class="collapse_button" href="#collapseOne{{=i}}">
          <img alt="../static/images/close.png" src="../static/images/more.png">
          </a>
            <div class="collapse_header_table_div">
                <table>
                   <thead>
                     <tr>
                     <th>Id</th>
                     <th>Name</th>
                     <th>Start date</th>
                     <th>Finish date</th>
                     <th>Anaconda branch</th>
                     <th>CL</th>
                     <th>Analyzed</th>
                     </tr>
                   </thead>

                  <tbody>
                    <tr>
                      <td >{{=testsuiteArray[i]['testsuite']['id']}}</td>
                      <td width="430">{{=testsuiteArray[i]['testsuite']['testsuitename']}}</td>
                      <td >{{=testsuiteArray[i]['testsuite']['starttime']}}</td>
                      <td >{{=testsuiteArray[i]['testsuite']['endtime']}}</td>
                      <td >{{=testsuiteArray[i]['anaconda']['name']}}</td>
                      <td >{{=testsuiteArray[i]['anaconda']['changelist']}}</td>
                      <td > {{if testsuiteArray[i]['testsuite']['analyzed'] == 0:}} <img id="img{{=testsuiteArray[i]['testsuite']['id']}}" style="width:22px; height:22px" src="../static/images/no1.jpg"> {{else:}}  <img id="img{{=testsuiteArray[i]['testsuite']['id']}}" style="width:22px; height:22px" src="../static/images/yes2.jpg"> {{pass}} </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div id="collapseOne{{=i}}" class="collapse">
                <div class="collapse_inner_container">
                  <div style="overflow:hidden" class="datatable_form">
                  <table cellpadding="0" cellspacing="0" border="0" class="display" id="analysistable{{=i}}">
                    <tbody>
                      <tr>
                        <td colspan="55" class="dataTables_empty">Loading data from server</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_status" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_error" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden"  name="search_bug_type" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden"  name="search_bug_type" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="text" name="search_jira" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                        
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                  <div style="float:left; margin-bottom:10px">
                    <input id="analyzedcheckbox{{=i}}" type="checkbox" class="analysis_checkbox">
                    <p style="width:100px; margin-top: 8px;">Analyzed</p>
                    <button style="margin-left: 10px;" id="Save{{=i}}" type="button" class="btn btn-primary">Save</button>
                  </div>
                  <div style="float:left; width:350px;margin-left:10px; margin-top:20px;">
                      <form id="autocomplite_form">
                          <table style="border-left: 1px solid black; border-right: 1px solid black">
                              <tr>
                                <td style="text-align: center">
                                  Testsuite name
                                </td>
                                <td style="text-align: center">
                                  Testsuite id
                                </td>
                              </tr>
                              <tr>
                                <td>
                                    <input  id="autocomplite_by_name_input{{=i}}" class="input-xlarge" type="text" placeholder="Choose test run by name">
                                </td>
                                <td>
                                    <input id="autocomplite_by_id_input{{=i}}" class="input-medium" type="text" placeholder="Choose test run by id">
                                </td>
                              </tr>
                               <tr>
                                <td>
                                  <div id="suggestions_name{{=i}}" class="suggestions">
                                  </div>
                                 </td>
                                <td>
                                   <div id="suggestions_id{{=i}}" class="suggestions">
                                    </div>
                                </td>
                              </tr>
                          </table>
                          <button type="button" id="autocomplite_btn{{=i}}" style="margin-left:100px;" class="btn btn-primary tip" data-placement="bottom" rel="tooltip" title="Please select test suite by id or name for autocompletion analysis data">Autocomplete analysis</button>
                          <input value="{{=i}}" id="collapse_id{{=i}}" type="hidden">
                      </form>
                  </div>
                  <div style="float:left; margin-left:120px; margin-top:20px;"><div class="alert warningAnalysis">
                    <strong>Warning!</strong> Your changes are not saved. </div>
                  </div>
                  <div style="float:right; margin-top:20px" class="btn-group" data-toggle="buttons-radio">
                    <button type="button" id="nok" class="btn btn-primary">Show NOK</button>
                    <button type="button" id="ok" class="btn btn-primary">Show OK</button>
                    <button id="skipped" type="button" class="btn btn-primary">Show Skipped</button>
                    <button id="ok_and_nok" type="button" class="btn btn-primary">Show ALL</button>
                  </div>
                </div>
                </div>
            </div>
        </div>
   {{pass}}

  <img class="modal hide fade" style="width:50px;height:50px;margin: auto" id="waitingModal"  src="../static/images/processing4.gif">
</div>

