<script type="text/javascript">
    appName = '{{=request.application}}'

    //get testsuites as json from backend
    var testsuiteArray = {{=XML(response.json(testsuiteArray))}}
    
    //prevent click on esc button on keyboard
    $(document).keypress(function(e) {
       if(e.keyCode == 27) {
         e.preventDefault();
       }
    });

    //init datatables 
    for(var i=0;i<testsuiteArray.length;i++){
      var testsuiteid = testsuiteArray[i].testsuite.id;
      var table = new AnalysisDataTable(i, testsuiteid);
      table.addSaveButtonAjaxHandler();
      table.addCommentColumnHandler("comment_img", 'comment_id', '<p>Add Comment</p><textarea id="comment_id" style="max-width : 97%; min-width:97%;min-height:200px; max-height:200px;">', 'analysis','comment')
      table.addCommentColumnHandler("error_img", 'error_desc_id', '<p>Error description</p><textarea id="error_desc_id" style="max-width : 97%; min-width:97%;min-height:200px; max-height:200px;" readonly>', 'testresult','failuredescription')
      table.addFiltering();
      table.addSwitchDataHandler()
    }
    $(function(){
      $.fn.birt('analysisBackClickHandler');
      $.fn.birt('ShowNOKTestsForAnalysisDatatablesByDefault', testsuiteArray.length);
      $.fn.birt('addClickHandlerForCollapseTables');
    })

</script>

<div id="mainanalysis" class="table_container">
    {{for i in range(len(testsuiteArray)):}}
        <div class="collapse_container">
          <a class="collapse_button" href="#collapseOne{{=i}}">
          <img alt="../static/images/close.png" src="../static/images/more.png">
          </a>
            <div class="collapse_header_table_div">
                <table>
                   <thead>
                     <tr>
                     <th>Id</th>
                     <th>Name</th>
                     <th>Start date</th>
                     <th>Finish date</th>
                     <th>Anaconda branch</th>
                     <th>CL</th>
                     <th>Analyzed</th>
                     </tr>
                   </thead>

                  <tbody>
                    <tr>
                      <td >{{=testsuiteArray[i]['testsuite']['id']}}</td>
                      <td width="430">{{=testsuiteArray[i]['testsuite']['testsuitename']}}</td>
                      <td >{{=testsuiteArray[i]['testsuite']['starttime']}}</td>
                      <td >{{=testsuiteArray[i]['testsuite']['endtime']}}</td>
                      <td >{{=testsuiteArray[i]['anaconda']['name']}}</td>
                      <td >{{=testsuiteArray[i]['anaconda']['changelist']}}</td>
                      <td > {{if testsuiteArray[i]['testsuite']['analyzed'] == 0:}} <img id="img{{=testsuiteArray[i]['testsuite']['id']}}" style="width:22px; height:22px" src="../static/images/no1.jpg"> {{else:}}  <img id="img{{=testsuiteArray[i]['testsuite']['id']}}" style="width:22px; height:22px" src="../static/images/yes2.jpg"> {{pass}} </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div id="collapseOne{{=i}}" class="collapse">
                <div class="collapse_inner_container">
                  <div style="overflow:hidden" class="datatable_form">
                  <table cellpadding="0" cellspacing="0" border="0" class="display" id="analysistable{{=i}}">
                    <tbody>
                      <tr>
                        <td colspan="55" class="dataTables_empty">Loading data from server</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_status" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_error" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden"  name="search_bug_type" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden"  name="search_bug_type" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="text" name="search_jira" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                        <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                        
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                  <div style="float:left; margin-bottom:10px">
                    <input id="analyzedcheckbox{{=i}}" type="checkbox" class="analysis_checkbox">
                    <p style="width:200px;" class="analysis_checkbox_name">Analyzed</p>
                    <button  id="Save{{=i}}" type="button" class="btn btn-primary analysissavebutton">Save</button>
                  </div>
                  <div style="float:left; margin-left:200px; margin-top:20px;"><div class="alert warningAnalysis">
                    <strong>Warning!</strong> Your changes are not saved. </div>
                  </div>
                  <div style="float:right; margin-top:20px" class="btn-group" data-toggle="buttons-radio">
                    <button type="button" id="nok" class="btn btn-primary">Show NOK</button>
                    <button type="button" id="ok" class="btn btn-primary">Show OK</button>
                    <button id="ok_and_nok" type="button" class="btn btn-primary">Show ALL</button>
                  </div>
                </div>
                </div>
            </div>
        </div>
   {{pass}}

  <img class="modal hide fade" style="width:50px;height:50px;margin: auto" id="waitingModal"  src="../static/images/processing4.gif">
</div>

