<script type="text/javascript">
var testsuiteArray = {{=XML(response.json(testsuiteArray))}}
for(var i=0;i<testsuiteArray.length;i++){
            var testsuiteid = testsuiteArray[i].testsuite.id;
            var tableId = "analysistable"+i
            var analyzeButtonid = "Save"+i
            var analyzeButtonName = "Save"
            var analyzeButtonStyle = "btn btn-primary saveanalyze" 
            var dataTableHandler = "/web2py_birt/fact/analyzeHandler"

            var tableColumns = [
              { "sTitle": "Testcase name","sWidth": "25%","mData" : "testdescription.name"},
              { "sTitle": "Testcase description","bSortable": false,"sWidth": "20%", "mData": "testdescription.testdescription" },
              { "sTitle": "Status","sWidth": "6%", "mData": "testresult.testresult" },
              { "sTitle": "Error description", "bSortable": false,"sWidth": "12%", "mData": "testresult.failuredescription" },
              { "sTitle": "Bug type","sWidth": "10%", "mData": "analysis.errortype" },
              { "sTitle": "Jira Id","sWidth": "7%", "mData": "analysis.elvis_id" },
              { "sTitle": "Comment", "bSortable": false,"sWidth": "10%", "mData": "analysis.comment" },
              { "sTitle": "Testresult id", "bVisible" : false, "mData" : "testresult.id"},
              { "sTitle": "Analysis id", "bVisible" : false, "mData" : "analysis.id"}
              ]

            var sorting = [[ 2,"desc" ]]
            var table = new DataTable();
            table.addDataTable(tableId,tableColumns,sorting,dataTableHandler,[],testsuiteid,false,false);
            table.addButton(analyzeButtonid,tableId,analyzeButtonStyle,"button",analyzeButtonName);
            table.addSaveButtonAjaxHandler(analyzeButtonid,tableId);
            table.addFiltering(tableId);
            table.testsuiteid = testsuiteid
    }
$(function(){

  for(var i=0;i<testsuiteArray.length;i++){
  $('<p class="analysis_checkbox_name">Analyzed</p><input id="analyzedcheckbox'+i+'" type="checkbox" class="analysis_checkbox">').insertAfter('#analysistable'+i);

  $('<div class="alert warningAnalysis"> <strong>Warning!</strong> Your changes are not saved. </div>').insertAfter('#analysistable'+i);

  

 }

  $('.collapse_button').find("img").click(function() {
  // if($($(this).parent().attr("href")+'.collapse').length==0) 
  }).toggle(function() { 
      $(this).attr("src", "../static/images/close.png"); 
      $($(this).parent().attr("href")).collapse('show')
  }, function(){
      $(this).attr("src", "../static/images/more.png");
      $($(this).parent().attr("href")).collapse('hide')
});
})

</script>

<div id="mainanalysis" class="table_container">
    {{for i in range(len(testsuiteArray)):}}
        <div class="collapse_container">
                <a class="collapse_button" href="#collapseOne{{=i}}">
                <img alt="../static/images/close.png" src="../static/images/more.png">
                </a>
                <div class="collapse_header_table_div">
                <table>
                   <thead>
                     <tr>
                     <th>Id</th>
                     <th>Name</th>
                     <th>Start date</th>
                     <th>Finish date</th>
                     <th>Anaconda branch</th>
                     <th>CL</th>
                     <th>Analyzed</th>
                     </tr>
                   </thead>

                  <tbody>
                    <tr>
                      <td >{{=testsuiteArray[i]['testsuite']['id']}}</td>
                      <td >{{=testsuiteArray[i]['testsuite']['testsuitename']}}</td>
                      <td >{{=testsuiteArray[i]['testsuite']['starttime']}}</td>
                      <td >{{=testsuiteArray[i]['testsuite']['endtime']}}</td>
                      <td >{{=testsuiteArray[i]['anaconda']['name']}}</td>
                      <td >{{=testsuiteArray[i]['anaconda']['changelist']}}</td>
                      <td > {{if testsuiteArray[i]['testsuite']['analyzed'] == 0:}} <img id="img{{=testsuiteArray[i]['testsuite']['id']}}" style="width:22px; height:22px" src="../static/images/no1.jpg"> {{else:}}  <img id="img{{=testsuiteArray[i]['testsuite']['id']}}" style="width:22px; height:22px" src="../static/images/yes2.jpg"> {{pass}} </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div id="collapseOne{{=i}}" class="collapse">
            <div class="collapse_inner_container">
          <table  cellpadding="0" cellspacing="0" border="0" class="display" id="analysistable{{=i}}">
            <tbody>
              <tr>
                <td colspan="55" class="dataTables_empty">Loading data from server</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
                <th><input type="hidden" name="search_desc" value="Search" class="search_init_focus_of" /></th>
                <th><input type="hidden" name="search_status" value="Search" class="search_init_focus_of" /></th>
                <th><input type="hidden" name="search_error" value="Search" class="search_init_focus_of" /></th>
                <th><input type="hidden"  value="Search" class="search_init_focus_of" /></th>
                <th><input type="text" name="search_jira" value="Search" class="search_init_focus_of" /></th>
                <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
            </div>
            </div>
        </div>
   {{pass}}

  <img class="modal hide fade" style="width:50px;height:50px;margin: auto" id="waitingModal"  src="../static/images/processing4.gif">
</div>

