<!-- class="navbar navbar-fixed-top"> -->
<div id="header" style="display: table;" >
    <!-- <a id="logo" href="/web2py_birt/fact/runs">Birt report generator</a> -->
    <div style="display: table-row;">
	    <ul id="navigation" role="navigation">
	    	<li id="menu_reports_button">
	    		<a  class="" href="/web2py_birt/labels/list">
	    			<span>Reports</span>
	    		</a>
	    	</li>
	    	<li id="menu_runs_button">
	    		<a  class="" href="/web2py_birt/fact/runs">
	    			<span>FACT runs</span>
	    		</a>
	    	</li>
	    	<li id="menu_vs_button">
	    		<a  class="" href="/web2py_birt/vs/runs">
	    			<span>Validation suits</span>
	    		</a>
	    	</li>
	    	<li id="menu_preview_button">
	    		<a  class="" href="/web2py_birt/reportprev/preview">
	    			<span>Report preview</span>
	    		</a>
	    	</li>
	    </ul>
	</div>
</div><!-- end header -->