<!-- class="navbar navbar-fixed-top"> -->
<div id="header" style="display: table;" >
    <div style="display: table-row;">
	    <ul id="navigation" role="navigation">
	    	<li id="menu_runs_button">
	    		<a  class="" href="/{{=request.application}}/fact_runs/runs">
	    			<span>FACT runs</span>
	    		</a>
	    	</li>

	    	<li id="menu_reports_button">
	    		<a  class="" href='/{{=request.application}}/reports/view_reports'>
	    			<span>Reports</span>
	    		</a>
	    	</li>
	    	
	    	<li id="menu_vs_button">
	    		<a  class="" href="/{{=request.application}}/release_notes/view_notes">
	    			<span>Release notes</span>
	    		</a>
	    	</li>
	    	<li id="menu_preview_button">
	    		<a  class="" href="/{{=request.application}}/reportprev/preview">
	    			<span>Report preview</span>
	    		</a>
	    	</li>
	    </ul>
	</div>
</div><!-- end header -->