<!-- class="navbar navbar-fixed-top"> -->
<nav id="header">
    <!-- <a id="logo" href="/web2py_birt/fact/runs">Birt report generator</a> -->
	    <ul id="navigation" role="navigation">
	    	<li>
	    		<a id="menu_reports_button" class="" href="/web2py_birt/labels/list">
	    			<span>Reports</span>
	    		</a>
	    	</li>
	    	<li>
	    		<a id="menu_runs_button" class="" href="/web2py_birt/fact/runs">
	    			<span>FACT runs</span>
	    		</a>
	    	</li>
	    	<li>
	    		<a id="menu_vs_button" class="" href="/web2py_birt/vs/runs">
	    			<span>Validation suits</span>
	    		</a>
	    	</li>
	    	<li>
	    		<a id="menu_preview_button" class="" href="/web2py_birt/reportprev/preview">
	    			<span>Report preview</span>
	    		</a>
	    	</li>
	    </ul>
</div><!-- end header -->