<div id="dropdownbutton" class="dropdown">
  <h5 class="dropdown-menu2">SHORT LABEL PREVIEW<b class="caret"></b></h5>
  <ul id="label_dropdown_menu" class="dropdown-menu">
    <li><div class="mydivider"></div></li>
    <li class="factrunnings"><h8>FACT Runnings</h8></li>
    <li id="nonefactrunnings" class="none"><h8>none</h8></li>
    <li><div id="vsrunningsdivider" class="mydivider"></div></li>
    <li id="vsrunnings" class="factrunnings"><h8>VS Runnings</h8></li>
    <li id="nonevsrunnings" class="none"><h8>none</h8></li>
    <li><div class="mydivider"></div></li>
    <li><button id="savelabel" data-toggle="modal"  style="margin-left:60px;" class="savelabel btn btn-primary">Save label</button></li>
  </ul>
</div>