.container {
    margin-left: 20px;
    margin-right: 0;
}


#admin-response{
    width:60%;
    min-width:400px;
    margin-left:10%;
    height:85%;
    float:left;
}
#admin-response .accordion-inner{
    width:100%;
    background-color:#fff;
    height:100%;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15);
}

#admin-response .accordion-body.in.collapse{
    min-height:85%;
}

/*show entryes list box*/

input[type="text"], input[type="password"], select {
    margin-right: 5px;
    width: 55px;
}

/************************/

#demo .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

#demo .collapse.in {
  height: 10px;
  /*position:absolute;*/
  /*right:40px;*/
}


#demo{
    width:100%;
    min-width:400px;
    height:85%;
    float:left;
}
#demo .accordion-inner{
    width:100%;
    background-color:#fff;
    height:100%;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow:2px 2px 12px rgba(0, 0, 0, 0.15);
}


#demo .accordion {
  margin-bottom: 20px;
}

#demo .accordion-group {
  margin-bottom: 200px;
  margin-top: 50px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#demo .accordion-heading {
  border-bottom: 0;
}

#demo .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

#demo .accordion-toggle {
  cursor: pointer;
}

table.display {
    border-collapse: collapse;
    clear: both;
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    border: 1px solid #AAAAAA;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

.dataTables_paginate {
    width: 10px;
}

.paging_full_numbers {
    width: 350px !important;
}

.ui-buttonset {
     margin-top: 7px;
}


.dataTables_info {
    float: left;
    width: 200px;
}

.dataTables_info {
    margin-top: 15px;
    margin-left: 75px;
    padding-top: 3px;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #AAAAAA;
    color: #555555;
    font-weight: normal;
}

.analyzeButton {
	float:left;
	margin-left: 20px; 
	margin-top: 12px;
	width:70px;
}

.addToLabelButton {
	float:left;
	margin-left: 70px;
	margin-top: 12px;
	width:70px;
}

.labelpreview {
	cursor: pointer;
	/*margin-left: 445px;*/
}

.labelpreview_link {
	cursor: pointer;
	margin-left: 445px;
}

.basket {
	margin-top: -38px;
	margin-left: 885px;
	border: 2px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold;
	background-color: transparent;
}

.createlabel {
	margin-top: 45px;
	margin-left: 110px;
	margin-bottom: 15px;
}


.dropdown-menu{
	position:absolute;
	top:100%;
	left:975px;
	top:8px;
	z-index:10;
	display:none;
	float:left;
	min-width:215px;
	padding:4px 0;
	margin:30px 0 0;
	list-style:none;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid #AAAAAA;
	*border-right-width:2px;
	*border-bottom-width:2px;
	border-top:0px solid rgba(0,0,0,0.2);
	border-left:1px solid rgba(0,0,0,0.2);
	border-right:1px solid rgba(0,0,0,0.2);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0px 0px rgba(0,0,0,0.2);
	box-shadow:0 0px 0px rgba(0,0,0,0.2);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-color: #AAAAAA #AAAAAA #AAAAAA
}

.dropdown-menu2{
	position:absolute;
	text-align: center;
	top:100%;
	left:975px;
	top:10px;
	z-index:10;
	float:left;
	min-width:215px;
	padding:4px 0;
	margin:1px 0 0;
	list-style:none;
	background-color:#fff;
	border:1px solid #AAAAAA;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	cursor: pointer;
	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 	font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;
}

.factrunnings{
	margin-top:7px;
	text-align: center;
	font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#CCCCCC;
}

.none{
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	font-style:italic;
	text-decoration:none;
	color:#CCCCCC;
	margin-left:15px;
	padding-bottom:10px;
}


.dropdown-menu a {
    clear: both;
    color: black;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 5px 15px;
    white-space: normal;
    font-family:Arial;font-size:13px;font-style:normal;text-decoration:none;color:#333333;
   /* width:185px;
    height: 60px; overflow: hidden;*/
}

.mydivider {
	margin-left:20px;
	margin-top:2px;
	width:180px;
	border-bottom:1px solid rgb(170, 170, 170);
}
.navbar .dropdown-menu:before {
    border-bottom: 0px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.navbar .dropdown-menu:after {
    border-bottom: 0px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

.dropdown-menu > li
{
	color:rgb(170, 170, 170);
}

.nav > li > span:hover {
text-decoration: none;
background-color: #EEE;
}
.nav > li > span {
display: block;
}
.nav-list > li > span> a {
text-decoration: none;
}
.nav-list > li > span{
margin-left: 900px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > span {
padding: 3px 15px;
}

/*
.collapse {
  position: relative;
  margin-left: 930px;
  height: 100;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}
*/



.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}



.navbar-inner {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

/*background-color: #F9F9F9;*/

tr.odd {
    background-color: #E2E4FF;
    border:1px solid #AAAAAA;
}



.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

