{{extend 'layout.html'}}
<div class="page-header">
    <h1 class="pagetitle">
        Label list
    </h1>
</div>

<script type="text/javascript">
var tableId = "labeltableid"
var analyzeButtonid = "analyze"
var addtolabelid= 'addtolabel'
var buttonStyle = "analyzeButton btn btn-primary"
var dataTableHandler = "/web2py_birt/labels/labelHandler"

var tableColumns = [
  { "sTitle": "Select", "bSortable": false ,"sWidth": "4%","mData" : null,
    "sDefaultContent": '<input type = "checkbox">'},
  { "sTitle": "Id",   "sWidth": "10%", "mData": "id" },
  { "sTitle": "Name", "sWidth": "48%", "mData": "releasename" },
  { "sTitle": "Date", "sWidth": "20%", "mData": "date" },
  { "sTitle": "User", "sWidth": "30%","mData": "user" }]

var sorting = [[ 1, "desc" ]]
var table = new DataTable();
table.addDataTable(tableId,tableColumns,sorting,dataTableHandler,[analyzeButtonid]);
table.addButton(analyzeButtonid,tableId,buttonStyle,"submit","showlabel");
table.addSingleClickRawHandler([analyzeButtonid,addtolabelid],tableId);
table.addShowLabelButtonHandler();
table.addFiltering(tableId);
</script>

<div id="demo">
<form id="form" method = "POST" action = "/web2py_birt/labels/showlabel">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="labeltableid">
  <tbody width="100%">
    <tr>
      <td colspan="55" class="dataTables_empty">Loading data from server</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th><input type="hidden" name="search_id" class="search_init_focus_of"/></th>
      <th><input type="text" name="search_id" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_starttime" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_endtime" value="Search" class="search_init_focus_of" /></th>
      <th></th>
    </tr>
  </tfoot>
</table>
</form>
</div>



