{{extend 'layout.html'}}

<script type="text/javascript">

$(function(){
  $("#menu_reports_button").addClass("pushed_menu_button")
})

var application_name = '{{=request.application}}'
var tableId = "labeltableid"
var analyzeButtonid = "analyze"
var generateReportButtonid = "generateReport"
var showLabelStyle = "btn btn-primary firstButton"
var generateReportStyle = "btn btn-primary secondButton"
var dataTableHandler = "/{{=request.application}}/labels/labelHandler"

var sDom = '<"fg-toolbar ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfri>t<"fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"pT<"toolbar">>'

var tableColumns = [
  { "sTitle": "Select", "bSortable": false ,"sWidth": "6%","mData" : null,
    "sDefaultContent": '<input type = "checkbox">'},
  { "sTitle": "Id",   "sWidth": "10%", "mData": "id" },
  { "sTitle": "Name", "sWidth": "45%", "mData": "releasecandidatename" },
  { "sTitle": "Date", "sWidth": "20%", "mData": "date" },
  { "sTitle": "User", "sWidth": "30%","mData": "user" }]

var sorting = [[ 1, "desc" ]]
var table = new DataTable();
table.addDataTable(tableId,tableColumns,sorting,dataTableHandler,[analyzeButtonid,generateReportButtonid],-1,true,true,sDom,application_name,"300px");
// table.addButton(analyzeButtonid,tableId,generateReportStyle,"submit","Report Preview");
// table.addButton(generateReportButtonid,tableId,showLabelStyle,"button","Generate Report");
table.addSingleClickRawHandler([analyzeButtonid,generateReportButtonid],tableId);
table.addGenerateReportButtonAjaxHandler(generateReportButtonid)
table.addShowLabelButtonHandler();
table.addFiltering(tableId);

$(function(){
  $("div.toolbar").html('<button  id="analyze" type="submit" class="btn btn-primary toolbarbutton" disabled>Analyze report</button><button  id="generateReport" type="button" class="btn btn-primary toolbarbutton" disabled>Generate Report</button>');
})


</script>

<div id="label_list" class="table_container">
<form id="form" method = "POST" action = "/{{=request.application}}/labels/showlabel">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="labeltableid">
  <tbody width="100%">
    <tr>
      <td colspan="55" class="dataTables_empty">Loading data from server</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th><input type="hidden" name="search_id" class="search_init_focus_of"/></th>
      <th><input type="text" name="search_id" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_starttime" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_endtime" value="Search" class="search_init_focus_of" /></th>
    </tr>
  </tfoot>
</table>
</form>
</div>

<img class="modal hide fade" style="width:50px;height:50px;margin: auto" id="waitingModal"  src="../static/images/processing4.gif">



