{{extend 'layout.html'}}

<div class="page-header">
    <h1 class="pagetitle">
        Label preview
    </h1>
</div>

<script type="text/javascript">
var testsuiteArray = {{=XML(response.json(testsuiteArray))}}
console.log(testsuiteArray)
for(var i=0;i<testsuiteArray.length;i++){
            var testsuiteid = testsuiteArray[i].testsuite.id;
            var tableId = "analysistable"+i
            var analyzeButtonid = "Save"+i
            var analyzeButtonName = "Save"
            var analyzeButtonStyle = "analyzeButton btn btn-primary"
            var dataTableHandler = "/web2py_birt/fact/analyzeHandler"

            var tableColumns = [
              { "sTitle": "Testcase name","sWidth": "25%","mData" : "testdescription.name"},
              { "sTitle": "Testcase description","bSortable": false,"sWidth": "20%", "mData": "testdescription.testdescription" },
              { "sTitle": "Status","sWidth": "6%", "mData": "testresult.testresult" },
              { "sTitle": "Error description", "bSortable": false,"sWidth": "12%", "mData": "testresult.failuredescription" },
              { "sTitle": "Bug type","sWidth": "13%", "mData": "analysis.errortype" },
              { "sTitle": "Jira Id","sWidth": "10%", "mData": "analysis.elvis_id" },
              { "sTitle": "Comment", "bSortable": false,"sWidth": "15%", "mData": "analysis.comment" },
              { "sTitle": "Testresult id", "bVisible" : false, "mData" : "testresult.id"}
              ]

            var sorting = [[ 3,"asc" ]]
            var table = new DataTable();
            table.addDataTable(tableId,tableColumns,sorting,dataTableHandler,[],testsuiteid);
            table.addButton(analyzeButtonid,tableId,analyzeButtonStyle,"button",analyzeButtonName);
            // table.addMultiClickRawHandler([analyzeButtonid],tableId);
            table.addSaveButtonAjaxHandler(analyzeButtonid);
            table.addFiltering(tableId);
            table.testsuiteid = testsuiteid
    }
$(function(){

  $('.accordion-toggle').find("img").click(function() {
  // if($($(this).parent().attr("href")+'.collapse').length==0) 
  }).toggle(function() { 
      $(this).attr("src", "../static/images/close.png"); 
      $($(this).parent().attr("href")).collapse('show')
  }, function(){
      $(this).attr("src", "../static/images/more.png");
      $($(this).parent().attr("href")).collapse('hide')
});



// $('.accordion-toggle').find("img").toggle(
//   function(){

//    $(this).attr("src", "../static/images/close.png"); 
//    $($(this).parent().attr("href")).collapse('show')

//   },
//   function(){
//    $(this).attr("src", "../static/images/more.png");
//    $($(this).parent().attr("href")).collapse('hide')
//  }
// );
})

</script>

<div id="demo">
<form id="form" method = "POST" action = "/web2py_birt/fact/saveAnalyze">

  <div class="accordion" id="accordion2">
    {{for i in range(len(testsuiteArray)):}}
        <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" style="float: left;height: 24px;width: 24px;margin-top:7px" href="#collapseOne{{=i}}">
        <img alt="../static/images/close.png" src="../static/images/more.png">
        </a>

                <table style="border: 1px solid #AAAAAA; table-layout: fixed;
    word-wrap:break-word; margin-right:10px;width: 94%;">
                   <thead>
                   <tr>
                   <th class="ui-state-default" style="text-align:center;width:40px" >Id</th>
                   <th class="ui-state-default" style="text-align:center;width:300px" >Name</th>
                   <th class="ui-state-default" style="text-align:center;">Start date</th>
                   <th class="ui-state-default" style="text-align:center;">Finish date</th>
                   <th class="ui-state-default" style="text-align:center;">User</th>
                   <th class="ui-state-default" style="text-align:center;width:100px">Anaconda branch</th>
                   <th class="ui-state-default" style="text-align:center;">CL</th>
                   </tr>
                   </thead>

                  <tbody>
                    <tr>
                      <td style="border: 1px solid #AAAAAA;">{{=testsuiteArray[i]['testsuite']['id']}}</td>
                      <td style="border: 1px solid #AAAAAA;">{{=testsuiteArray[i]['testsuite']['testsuitename']}}</td>
                      <td style="border: 1px solid #AAAAAA;">{{=testsuiteArray[i]['testsuite']['starttime']}}</td>
                      <td style="border: 1px solid #AAAAAA;">{{=testsuiteArray[i]['testsuite']['endtime']}}</td>
                      <td style="border: 1px solid #AAAAAA;">{{=testsuiteArray[i]['testsuite']['user']}}</td>
                      <td style="border: 1px solid #AAAAAA;">{{=testsuiteArray[i]['anaconda']['name']}}</td>
                      <td style="border: 1px solid #AAAAAA;">{{=testsuiteArray[i]['anaconda']['changelist']}}</td>
                    </tr>
                  </tbody>
                </table>


        </div>
        <div id="collapseOne{{=i}}" class="collapse">
        <div class="accordion-inner">
      <table  cellpadding="0" cellspacing="0" border="0" class="display" id="analysistable{{=i}}">
        <tbody>
          <tr>
            <td colspan="55" class="dataTables_empty">Loading data from server</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
            <th><input type="hidden" name="search_desc" value="Search" class="search_init_focus_of" /></th>
            <th><input type="hidden" name="search_status" value="Search" class="search_init_focus_of" /></th>
            <th><input type="hidden" name="search_error" value="Search" class="search_init_focus_of" /></th>
            <th><input type="hidden"  value="Search" class="search_init_focus_of" /></th>
            <th><input type="text" name="search_jira" value="Search" class="search_init_focus_of" /></th>
            <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
        </div>
        </div>
        </div>
   {{pass}}
  </div>

 
</form>
</div>

