{{extend 'layout.html'}}

<div class="page-header">
    <h3 class="pagetitle">
        Report preview
    </h3>
       <button id="analysisback" class="btn btn-primary">
		Back to reports
	</button>
</div>
<ul class="nav nav-tabs" id="analysis_tab">
<li class="active"><a href="#fact" data-toggle="tab">FACT run analysis</a></li>
<li><a href="#tools" data-toggle="tab">Test stage analysis</a></li>
</ul>
 
<div class="tab-content">
<div class="tab-pane active" id="fact">
 {{include 'mainanalysis.html'}}
</div>
<div class="tab-pane" id="tools">
    <div class="test-tools bs-docs-example">
    <table id="tools_analysis" style="width:540px;text-align: center; margin-left:50px;" class="table table-bordered">
        <thead>
            <tr>
                <th>Tool</th>
                <th>Passed / Failed</th>
                <th>Test count<br> (passed/failed)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td >FACT - automated tests</td>
                <td>
                    <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active passed_failed">Passed</button>
                    <button type="button" class="btn passed_failed">Failed</button>
                    </div>
                </td>
                <td>
                    <input style=" width: 30px;" type="text">
                    /
                    <input style=" width: 30px" type="text">
                </td>
            </tr>
            <tr>
                <td>NDS Validation Tool</td>
                <td>
                    <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active passed_failed">Passed</button>
                    <button type="button" class="btn passed_failed">Failed</button>
                    </div>
                </td>
                <td>
                    <input style=" width: 30px;" type="text">
                    /
                    <input style=" width: 30px" type="text">
                </td>
            </tr>
            <tr>
                <td>Anaconda Workbench</td>
                <td>
                    <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active passed_failed">Passed</button>
                    <button type="button" class="btn passed_failed">Failed</button>
                    </div>
                </td>
                <td>
                    <input style=" width: 30px;" type="text">
                    /
                    <input style=" width: 30px" type="text">
                </td>
            </tr>
            <tr>
                <td>MapViewer Simulation</td>
                <td>
                    <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active passed_failed">Passed</button>
                    <button type="button" class="btn passed_failed">Failed</button>
                    </div>
                </td>
                <td>
                    <input style=" width: 30px;" type="text">
                    /
                    <input style=" width: 30px" type="text">
                </td>
            </tr>
            <tr>
                <td>NDS Validation Suite</td>
                <td>
                    <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active passed_failed">Passed</button>
                    <button type="button" class="btn passed_failed">Failed</button>
                    </div>
                </td>
                <td>
                    <input style=" width: 30px;" type="text">
                    /
                    <input style=" width: 30px" type="text">
                </td>
            </tr>
        </tbody>
    </table>
     </div>

    <div class="test-techs bs-docs-example">
        <table id="techs_analysis" style="width:250px;text-align: center; margin-left:50px;" class="table table-bordered">
        <thead>
            <tr>
                <th>Test technique name</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Raw Data Inspection</td>
                <td>
                    <input id="raw_data_inspection" type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>NDS Specification</td>
                <td>
                    <input id="nds_specification" type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>Structure & Content</td>
                <td>
                    <input id="structure_and_content" type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>Comparision (old vs. new)</td>
                <td>
                    <input id="comparision" type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>Visual</td>
                <td>
                    <input id="visual" type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>Regression</td>
                <td>
                    <input id="regression" type="checkbox" />
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div style="margin: 10px 0 0 50px">
        <button style="float: left;margin-bottom: 50px"  class="btn btn-primary" id="save_tools_button">Save</button>
        <div id="success_message" style="float: left; margin: 0 0 13px 30px;display:none"  class="alert alert-success">
            <strong>Well done!</strong> Your chages are saved 
        </div>
        <div id="error_message" style="float: left; margin: 0 0 13px 30px;display:none"  class="alert alert-error">
            <strong>Error!</strong> Your chages are not saved. Please try again.
        </div>
    </div>
</div>
</div>
    

<script type="text/javascript">

$(function(){
    var buttons = [];
        $("#tools_analysis .btn-group > button").each( function (i) {
            buttons.push($(this))
        } );
        var testsuiteArray = {{=XML(response.json(techs_result))}}
        for(i in testsuiteArray){
            if (testsuiteArray[i] == 1)
                $('#techs_analysis #' + i).attr('checked',true)
        }


        {{ if tools_result['fact_tool'] == 1:}}
            buttons[0].button('toggle')
        {{ else:}}
            buttons[1].button('toggle')
        {{pass}}

        {{ if tools_result['nds_validation_tool'] == 1:}}
            buttons[2].button('toggle')
        {{ else:}}
            buttons[3].button('toggle')
        {{pass}}

        {{ if tools_result['anaconda_wb_tool'] == 1:}}
            buttons[4].button('toggle')
        {{ else:}}
            buttons[5].button('toggle')
        {{pass}}

        {{ if tools_result['mapviewer_tool'] == 1:}}
            buttons[6].button('toggle')
        {{ else:}}
            buttons[7].button('toggle')
        {{pass}}

        {{ if tools_result['nds_validation_suite_tool'] == 1:}}
            buttons[8].button('toggle')
        {{ else:}}
            buttons[9].button('toggle')
        {{pass}}
        $('#save_tools_button').live('click', function () {
        var result = []
        $("#tools_analysis .btn-group > button.active").each( function (i) {
            if ($(this).text() == "Passed")
                result.push(1)
            else
                result.push(0)
        } );

        var test_techs = []
        $("#techs_analysis input").each( function (i) {
            isChecked = $(this).is(':checked')
            if (isChecked == true)
                test_techs.push(1)
            else
                test_techs.push(0)
        } );

        $.ajax({
            type: "POST",
            url: '/{{=request.application}}/labels/save_tools_analysis',
            data: {"tool_result": result, "techs_result":test_techs, "labelid": {{=labelid}} },
            success: function(result) {
                 $('#success_message').css('display','block')
            },
            error: function(result) {
                 $('#error_message').css('display','block')
            }
        })
    })
    $('.passed_failed').live('click', function () {
        $('#success_message').css('display','none')
        $('#error_message').css('display','none')
    })
});

</script>
