{{extend 'layout.html'}}
<div class="page-header">
    <h1 class="pagetitle">
        FACT run analysis
    </h1>
</div>

<script type="text/javascript">
var t = {{=XML(response.json(m))}}

var tableId = "analysistable"
var analyzeButtonid = "Save"
var analyzeButtonStyle = "analyzeButton btn btn-primary"
var dataTableHandler = "/web2py_birt/fact/analyzeHandler"

 var tableColumns = [
              { "sTitle": "Testcase name","sWidth": "25%","mData" : "testdescription.name"},
              { "sTitle": "Testcase description","bSortable": false,"sWidth": "20%", "mData": "testdescription.testdescription" },
              { "sTitle": "Status","sWidth": "10%", "mData": "testresult.testresult" },
              { "sTitle": "Error description", "bSortable": false,"sWidth": "10%", "mData": "testresult.failuredescription" },
              { "sTitle": "Bug type","sWidth": "11%", "mData": "analysis.errortype" },
              { "sTitle": "Jira Id","sWidth": "7%", "mData": "analysis.elvis_id" },
              { "sTitle": "Comment", "bSortable": false,"sWidth": "20%", "mData": "analysis.comment" },
              { "sTitle": "Testresult id", "bVisible" : false, "mData" : "testresult.id"}
              ]

var sorting = [[ 3,"asc" ]]

var table = new DataTable();
table.addDataTable(tableId,tableColumns,sorting,dataTableHandler,[],t);
table.addButton(analyzeButtonid,tableId,analyzeButtonStyle,"submit","Save");
// table.addMultiClickRawHandler([analyzeButtonid],tableId);
table.addSaveButtonHandler();
table.addFiltering(tableId);
table.testsuiteid = t

$(function(){
  $('<input type="checkbox" style="position:absolute; margin-right:80px">').insertAfter('#' + tableId);
});


</script>

<div id="demo">
<form id="form" method = "POST" action = "/web2py_birt/fact/saveAnalyze">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="analysistable">
  <tbody width="100%">
    <tr>
      <td colspan="55" class="dataTables_empty">Loading data from server</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
      <th><input type="hidden" name="search_desc" value="Search" class="search_init_focus_of" /></th>
      <th><input type="hidden" name="search_status" value="Search" class="search_init_focus_of" /></th>
      <th><input type="hidden" name="search_error" value="Search" class="search_init_focus_of" /></th>
      <th><input type="hidden"  value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_jira" value="Search" class="search_init_focus_of" /></th>
      <th><input type="hidden" name="search_coment" value="Search" class="search_init_focus_of" /></th>
      <th></th>
    </tr>
  </tfoot>
</table>
</form>
</div>

