{{extend 'layout.html'}}

<div class="page-header">
    <h1 class="pagetitle">
        FACT runnings
    </h1>
</div>


<script type="text/javascript">
var tableColumns = [
  { "sTitle": "Select", "bSortable": false ,"sWidth": "4%","mData" : null,
    "sDefaultContent": '<input type = "checkbox">'},
  { "sTitle": "Id","sWidth": "5%", "mData": "testsuite.id" },
  { "sTitle": "Name", "bSortable": false ,"sWidth": "32%", "mData": "testsuite.testsuitename" },
  { "sTitle": "Start date" ,"sWidth": "8%", "mData": "testsuite.starttime" },
  { "sTitle": "Finish date" ,"sWidth": "8%", "mData": "testsuite.endtime" },
  { "sTitle": "User","sWidth": "8%", "mData": "testsuite.user" },
  { "sTitle": "Branch" , "bSortable": false,"sWidth": "8%", "mData": "anaconda.name" },
  { "sTitle": "CL" , "bSortable": false,"sWidth": "6%", "mData": "anaconda.changelist" },
  { "sTitle": "Analyzed","sWidth": "6%", "mData": "testsuite.analyzed",
              "mRender": function ( data, type, full ) {
                if (data == 0){
                  return '<img height="22" width="22" src="../static/images/no1.jpg">'
                }
                else{
                  return '<img height="22" width="22" src="../static/images/yes2.jpg">'
                }
              }
  }
  ]

var sorting = [[ 1, "desc" ]]
var tableId = "testsuitetable"
var analyzeButtonid = "analyzebutton"
var addtolabelid= 'addtolabel'
var buttonStyle = "analyzeButton btn btn-primary"
var dataTableHandler = "/web2py_birt/fact/runsHandler"

var table = new DataTable();
table.addDataTable(tableId,tableColumns,sorting,dataTableHandler,[analyzeButtonid,addtolabelid],-1,true,true);
table.addButton(addtolabelid,tableId,"addtolabelbutton btn btn-primary","button","addtolabel");
table.addButton(analyzeButtonid,tableId,"analyzeButton btn btn-primary","submit","analyze");
table.addMultiClickRawHandler([analyzeButtonid,addtolabelid],tableId);
table.addAnalyzeButtonHandler();
table.addFiltering(tableId);

$(function(){

    //add to label preview menu new item
    $('#addtolabel').live('click',function () {
        $('#label_dropdown_menu').fadeIn("fast");
        $('#nonefactrunnings').remove()
        var tempMap={}
        var aTrs = table.oTable.fnGetNodes();

        for ( var i=0 ; i<aTrs.length ; i++ )
          {
            if ( $(aTrs[i]).hasClass('datatablerowhighlight') )
            {
              var testsuiteId = table.oTable.fnGetData(aTrs[i]).testsuite.id
              var testsuiteName = table.oTable.fnGetData(aTrs[i]).testsuite.testsuitename
              tempMap[testsuiteId] = testsuiteName
            }
        }
        $.ajax({
          type: "POST",
          url: "/web2py_birt/fact/saveLabelList",
          data: "array="+JSON.stringify(tempMap)
          }).done(function( msg ) {
            var contact = JSON.parse(msg);
            $.each(contact, function(val, text) {
              $('#vsrunningsdivider').before($('<li></li>').html('<a value="'+val+'" href="#"><div style="float:left"><i class="icon-remove"></i><i class="divider-vertical"></i><i class="icon-pencil"></i><i class="divider-vertical"></i></div><div style="width:216px; margin-left:66px;">'+text+'</div></a>'));
            });
          });

        });
});

</script>

<div id="demo"> 
<form id="form" method = "POST" action = "/web2py_birt/fact/analysis">
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="testsuitetable">
  <tbody width="100%">
    <tr>
      <td colspan="55" class="dataTables_empty">Loading data from server</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th><input type="hidden" name="search_id" class="search_init_focus_of"/></th>
      <th><input type="text" name="search_id" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_starttime" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_endtime" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_user" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_branch" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_cl" value="Search" class="search_init_focus_of" /></th>
      <th></th>
    </tr>
  </tfoot>
</table>
</form>
</div>

