{{extend 'layout.html'}}

<script type="text/javascript">

$(function(){
  $("#menu_runs_button").addClass("pushed_menu_button")
})
var application_name = '{{=request.application}}'
var tableColumns = [
  { "sTitle": "", "bSortable": false ,"sWidth": "2%","mData" : null,
    "sDefaultContent": '<input type = "checkbox">'},
  { "sTitle": "Id","sWidth": "5%", "mData": "testsuite.id" },
  { "sTitle": "Name", "bSortable": false ,"sWidth": "26%", "mData": "testsuite.testsuitename" },
  { "sTitle": "Start date" ,"sWidth": "8%", "mData": "testsuite.starttime" },
  { "sTitle": "Finish date" ,"sWidth": "8%", "mData": "testsuite.endtime" },
  { "sTitle": "Branch" , "bSortable": false,"sWidth": "8%", "mData": "anaconda.name" },
  { "sTitle": "CL" , "bSortable": false,"sWidth": "8%", "mData": "anaconda.changelist" },
  { "sTitle": "Analyzed","sWidth": "7%", "mData": "testsuite.analyzed",
              "mRender": function ( data, type, full ) {
                if (data == 0){
                  return '<img style="width:22px; height:22px"  src="../static/images/no1.jpg">'
                }
                else{
                  return '<img style="width:22px; height:22px"  src="../static/images/yes2.jpg">'
                }
              }
  }
  ]

var sorting = [[ 1, "desc" ]]
var tableId = "testsuitetable"
var analyzeButtonid = "analyzebutton"
var addtolabelid= 'addtolabel'
var buttonStyle = "analyzeButton btn btn-primary"
var dataTableHandler = "/{{=request.application}}/fact/runsHandler"

var table = new DataTable();
var sDom = '<"fg-toolbar ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lfri>t<"fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"pT<"toolbar">>'
table.addDataTable(tableId,tableColumns,sorting,dataTableHandler,[analyzeButtonid,addtolabelid],-1,true,true,sDom,application_name,"300px");
// table.addButton(addtolabelid,tableId,"btn btn-primary secondButton","button","Add to report");
// table.addButton(analyzeButtonid,tableId,"btn btn-primary firstButton","submit","Analyze");
table.addMultiClickRawHandler([analyzeButtonid,addtolabelid],tableId);
table.addAnalyzeButtonHandler();
table.addFiltering(tableId);


{{if session.label_preview_list:}}
             var labellist = {{=XML(response.json(session.label_preview_list))}}
             jQuery(function(){
            $.each(labellist, function(val, text) {
              $("#shortreportpreview .none").css('display','none')
              $("#shortreportpreview #fact_runnings_preview_list").append('<li><i class="icon-remove"></i><i class="icon-pencil"></i><p value='+val+'>'+text+'</p></li>');
            });
          // }
        });
{{pass}}


$(function(){
  $("div.toolbar").html('<button  id="analyzebutton" type="submit" class="btn btn-primary toolbarbutton" disabled>Analyze</button><button  id="addtolabel" type="button" class="btn btn-primary toolbarbutton" disabled>Add to report</button>');



    //add to label preview menu new item
    $('#addtolabel').live('click',function () {
        $("#shortreportpreview .none").css('display','none')
        var tempMap={}
        var aTrs = table.oTable.fnGetNodes();

        for ( var i=0 ; i<aTrs.length ; i++ )
          {
            if ( $(aTrs[i]).hasClass('datatablerowhighlight') )
            {
              var testsuiteId = table.oTable.fnGetData(aTrs[i]).testsuite.id
              var testsuiteName = table.oTable.fnGetData(aTrs[i]).testsuite.testsuitename
              tempMap[testsuiteId] = testsuiteName
            }
        }
        $.ajax({
          type: "POST",
          url: "/{{=request.application}}/fact/saveLabelList",
          data: "array="+JSON.stringify(tempMap)
          }).done(function( msg ) {
            var contact = JSON.parse(msg);
            $.each(contact, function(val, text) {
              $("#fact_runnings_preview_list").append('<li><i class="icon-remove"></i><i class="icon-pencil"></i><p value='+val+'>'+text+'</p></li>');
            });
          });

        });

    //removing rows in show label preview menu after clicking on remove icon. Also it removes from session
    $('.icon-remove').live('click',function () {
        testsuiteid =  $(this).closest('li').children('p').attr('value')
        $(this).closest('li').remove()
          $.ajax({
              type: "POST",
              url: "/{{=request.application}}/fact/removeLabelFromSession",
              data: "testsuiteid=" + testsuiteid
              }).done(function( msg ) {
                if (msg == 0){
                    $("#shortreportpreview .none").css('display','block')
                }
            });
    });

    //edit testsuite by ckicking on edit icon in label preview menu
    $('.icon-pencil').live('click',function () {
        testsuiteid =  $(this).closest('li').children('p').attr('value')
        testsuitelist = new Array()
        testsuitelist.push(testsuiteid)
        $('#form').unbind('submit')
        $("#form").attr("action", "/{{=request.application}}/fact/analysis");
        $('#form').submit( function() {
            $('<input />').attr('type', 'hidden')
            .attr('name', "testsuitelist")
            .attr('value',  JSON.stringify(testsuitelist) )
            .appendTo('#form');
            return true;
        } );
        $("#form").submit();
    });

    $('.modal-backdrop fade in').unbind('click');

      //deletes all rows in label preview menu and adds 'none' row after new label is created
    $('#savelabelbutton').live('click',function () {
      $('#fact_runnings_preview_list li p').empty();
      $("#shortreportpreview .none").css('display','block')
    });

    //by clicking on save label button on label preview menu,
    //it checks whether to show form for creating new label or show warning 
    //that you should add some run to preview
    $('#shortreportpreview #savelabel').live('click',function () {
      if ( $("#fact_runnings_preview_list li").length == 0) {
         alert("Label list is empty. Add some labels.")
      }
      else{
        $('#myModal').modal('show')
      }
      
    });


    $().ready(function() {
        $(window).scroll(function(){      
          $("#shortreportpreview")
            .stop()
            .animate({"marginTop": ($(window).scrollTop() + 0) + "px"}, "slow" );      
        });
      });

});

</script>

<div id="fact_runnings" class="table_container"> 
<form id="form" method = "GET" action = "/{{=request.application}}/fact/analysis">
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="testsuitetable">
  <tbody>
    <tr>
      <td colspan="55" class="dataTables_empty">Loading data from server</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th><input type="hidden" name="search_id" class="search_init_focus_of"/></th>
      <th><input type="text" name="search_id" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_starttime" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_endtime" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_branch" value="Search" class="search_init_focus_of" /></th>
      <th><input type="text" name="search_cl" value="Search" class="search_init_focus_of" /></th> 
      <th><input type="hidden" name="search_analyze" class="search_init_focus_of"/></th>
    </tr>
  </tfoot>
</table>
</form>
</div>

{{include 'shortlabelpreview.html'}}
{{include 'labelsubmitform.html'}}

