{{extend 'layout.html'}}

<script type="text/javascript">
$(function(){

  appName = '{{=request.application}}'
  
  //it's for selecting button in menu
  $("#menu_runs_button").addClass("pushed_menu_button")

  //init datatable for testsuite runs
  var table = new TestRunsDataTable()
  table.addMultiClickRawHandler()
  table.addFiltering()
  table.addAnalyzeButtonHandler()

  // actions for short report preview
  $.fn.birt('addTestRunToReportPreview', table);
  $.fn.birt('iconRemoveFromReportPreview');
  $.fn.birt('editTestSuiteFromReportPreview');
  $.fn.birt('addActionsForShortReportPreview');


  //fill from session short report preview
  {{if session.label_preview_list:}}
    var labellist = {{=XML(response.json(session.label_preview_list))}}
    jQuery(function(){
        $.each(labellist, function(val, text) {
          $("#shortreportpreview .none").css('display','none')
          $("#shortreportpreview #fact_runnings_preview_list").append('<li><i class="icon-remove"></i><i class="icon-pencil"></i><p value='+val+'>'+text+'</p></li>');
        });
    });
  {{pass}}
});
</script>

<div id="fact_runnings" class="table_container"> 
  <form class="datatable_form" id="tests_run_form" method = "GET" action = "/{{=request.application}}/fact/analysis">
    <table style="margin-left:80px" cellpadding="0" cellspacing="0" border="0" class="display" id="testsuitetable">
        <tbody>
          <tr>
            <td colspan="55" class="dataTables_empty">Loading data from server</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th><input type="hidden" name="search_id" class="search_init_focus_of"/></th>
            <th><input type="text" name="search_id" value="Search" class="search_init_focus_of" /></th>
            <th><input type="text" name="search_name" value="Search" class="search_init_focus_of" /></th>
            <th><input type="text" name="search_starttime" value="Search" class="search_init_focus_of" /></th>
            <th><input type="text" name="search_endtime" value="Search" class="search_init_focus_of" /></th>
            <th><input type="text" name="search_branch" value="Search" class="search_init_focus_of" /></th>
            <th><input type="text" name="search_cl" value="Search" class="search_init_focus_of" /></th> 
            <th><input type="hidden" name="search_analyze" class="search_init_focus_of"/></th>
          </tr>
        </tfoot>
      </table>
      <button  id="analyzebutton" type="submit" class="btn btn-primary toolbarbutton" disabled>Analyze</button>
      <button  id="addtolabel" type="button" class="btn btn-primary toolbarbutton" disabled>Add to report</button>
</form>
</div>

{{include 'shortlabelpreview.html'}}
{{include 'labelsubmitform.html'}}

